application.ini
.DS_Store
.DS_Store?

/nbproject/private/
/nbproject/
/public/css/ot/
/public/css/ot
/public/min/
/public/min
/public/scripts/ot/
/public/scripts/ot
/public/themes/ot/
/public/themes/ot
/vendor/
/composer.lock
/public/images/ot/
/public/images/ot
/application/modules/ot/
/application/modules/ot
/application/languages/ot/
/application/languages/ot
/otutils/
/otutils
/public/css/ncsubootstrap/
/public/css/ncsubootstrap
