#ot-lp-toolbar {
    margin-bottom: 24px;
}

.ot-lp-app {
    float: left;
    margin-bottom: 24px;
    text-align: center;
    width: 235px;
}

/* ALTERNATIVE APPLICATION STATUS */
.ot-lp-app-alt {
    background-color: #005500;
    border-radius: 5px;
    float: left;
    padding: 10px;
    text-align: center;
    width: 235px;
}

    .ot-lp-app-graphic {
        display: block;
        height: 128px;
        margin: 0 auto;
        width: 128px;
    }

    .ot-lp-app-title {
        font-size: 1.3em;
        line-height: 1.3em;
        margin: 0;
    }
    
    .ot-lp-app p.label {
        font-weight: normal;
    }
    
    .ot-lp-app-status {
        display: inline-block;
        font-size: 0.8em;
        margin: 5px 0 0;
        padding: 5px 10px;
        text-transform: uppercase;
    }
    
        .ot-lp-app.active img.ot-lp-app-status {
            color: green;
        }
        
        .ot-lp-app.maint .ot-lp-app-status {
            color: yellow;
        }
        
        .ot-lp-app.down .ot-lp-app-status {
            fill: red;
        }
        
/* Add Application View */
#ot-lp-add-app {
    
}

    #ot-lp-add-app form label[for="adaptive"],
    #ot-lp-add-app form input[type="checkbox"] {
        line-height: 25px;
    }